*{
	margin: 0;
}
.articulo{
	font-size: 20px;

}
.aside{
	color: red;
}

p[name="especial"] {
	font-size: 20px;
	color: red;
}

p:nth-child(odd) {
	background: #999999;
}

p:nth-child(even) {
	background: #CCCCCC;
}

p:first-child {
	background: red;
}

p:last-child {
	background: blue;
}

p:only-child {
	background: green;
}
:not(p) {
	margin: 0px;
}